<script type="text/javascript" charset="utf-8">
	var x, y
  $(function() {
    x = $('#preview_video').offset().left + 45;
    y = $('#preview_video').offset().top - 4;
	});
</script>
<div id="left">
  <div class="controlblock">
    <h3>Local Video Sources</h3>
    <a href="/channels/1" class="squarebutton <%= 'on' if @channel.id == 1 %>"><span>Endo Cam</span></a>
    <a href="/channels/2" class="squarebutton disabled"><span>Room Cam</span></a>
    <a href="" class="squarebutton disabled"><span>Flouro Scope</span></a>
    <a href="" class="squarebutton disabled"><span>Navigation</span></a>
    <div class="clear"></div>
  </div>
  <div class="controlblock">
    <h3>Multiview Enable</h3>
    <%= form_tag('/multiview', :method => :get) do %>
      <div class="checkfield"><%= check_box_tag :m_endo, '100', params[:m_endo] %><label for="m_endo">Endo Cam</label></div>
      <div class="checkfield"><%= check_box_tag :m_room, '101', params[:m_room] %><label for="m_room">Room Cam</label></div>
      <div class="checkfield disabled"><input type="checkbox" name="m_quad" id="m_quad" disabled="disabled"><label for="m_quad">Quad HD</label></div>
      <div class="checkfield disabled"><input type="checkbox" name="m_3d" id="m_3d" disabled="disabled"><label for="m_3d">3D Images</label></div>
      
      <div class="clear"></div>
      <div class="submitwrap">
        <button type="submit"><span>Launch Multiview</span></button>
      </div>
    <% end %>
  </div>
  <div class="controlblock plain">
    <form>
      <div class="checkfield"><input type="checkbox" name="ptzonoff" id="ptzonoff" checked="checked"/><label for="ptzonoff">Allow Remote PTZ</label></div>
      <div class="checkfield"><input type="checkbox" name="privacyonoff" id="privacyonoff" /><label for="privacyonoff">Privacy Mode</label></div>
      <div class="clear"></div>
    </form>
  </div>
  <div class="controlblock">
    <h3>Camera Controls</h3>
    <div id="ptz">
      <img src="/images/pan.png" />
    </div>
    <div class="clear"></div>
  </div>
</div>

<div id="videocol">
  <div id="preview_window">
    <h2 id="preview_name"><span><%= @channel.title || "Multi-view" %></span></h2>
    <div id="preview_video"><%= link_to('Open Video', params.merge({:force => true})) if @channel.id%></div>
  </div>
  <div id="preview_controls">
    <ul>
      <% if @channel.id %>
        <li id="record"><%= link_to(new_recording_path(:channel_id => @channel.id + 2), :class => "button withimage" ) do %><span>Record</span><% end %></li>
        <li id="snapshot" class="disabled"><a href="" class="button withimage"><span>Take Snapshot</span></a></li>
        <li id="savesnapshot" class="disabled"><a href="" class="button withimage"><span>Save Snapshot</span></a></li>
      <% end %>
    </ul>
  </div>
  <div id="cam_status">
    <ul>
      <% if session[:active_recording] %>
        <li class="cam"><%= link_to('Local Recorder 1 Status - Active', edit_recording_path(session[:active_recording])) %></li>
      <% else %>
        <li class="cam">Local Recorder 1 Status - Inactive</li>
      <% end %>
      <li class="cam">Local Recorder 2 Status - Inactive</li>
    </ul>
  </div>
</div>

<div id="right">
  <div class="controlblock">
    <h3>Remote Destinations</h3>
    <a href="" class="squarebutton remote disabled" style="height:78px"><span>Recorder</span></a>
		<%= link_to(decoder_path(Decoder.first.id, :channel_id => @channel.id), :class => "squarebutton remote", :remote => true) do %>
    	<span>Preview Room</span>
		<% end %>
    <div class="clear"></div>
  </div>
  <div class="controlblock">
    <h3>Remote Sources</h3>
    <a href="" class="squarebutton remoted disabled"><span>Pathology</span></a>
    <a href="" class="squarebutton remote <%= 'on' if @channel.id == 2 %>" id="or11"><span>OR-11</span></a>
    <a href="" class="squarebutton remote disabled"><span>Skills Lab</span></a>
    <a href="" class="squarebutton remote disabled"><span>Auditorium</span></a>
    <div class="clear"></div>
  </div>
  <div class="controlblock or11" style="<%= 'display:none' unless @channel.id == 2 %>">
    <h3>Remote Cameras</h3>
    <a href="" class="squarebutton disabled"><span>Endo Cam</span></a>
    <a href="/channels/2" class="squarebutton <%= 'on' if @channel.id == 2 %>"><span>Room Cam</span></a>
    <a href="" class="squarebutton disabled"><span>Quad HD</span></a>
    <a href="" class="squarebutton disabled"><span>3D Images</span></a>
    <div class="clear"></div>
  </div>
</div>

<% unless session[:ipad] %>
	<% if @open_player %>
	  <script type="text/javascript" charset="utf-8">
	    $(function() {
	      $('body').append('<applet height="1" width="1" archive="VFAgent.jar" codebase="http://10.1.50.51/" code="com.videofurnace.player.VFAgent"><param value="/vfagent.properties" name="propertyURL"><param value="VFAgent.cab" name="CABBASE"><param value="/loading.shtml&unsupported=1" name="macclassic"><param value="vftv" name="application"><param name="vfcla" value="--kill-me -l udp://10.1.50.51:4902 -s <%= @channel.callsign %> -dog -nc -gd -top -x ' + x + ' -y ' + y + '"><br><b>You must enable Java in your browser settings</b><br></applet>')
	    });
	  </script>
	<% elsif @channels %>
	  <script type="text/javascript" charset="utf-8">
	    $(function() {
				var channels = '';
				<% @channels.each do |channel| %>
					channels += ' <%= channel.callsign %>';
				<% break; end %>
				console.log('<applet height="1" width="1" archive="VFAgent.jar" codebase="http://10.1.50.51/" code="com.videofurnace.player.VFAgent"><param value="/vfagent.properties" name="propertyURL"><param value="VFAgent.cab" name="CABBASE"><param value="/loading.shtml&unsupported=1" name="macclassic"><param value="vfmonitor" name="application"><param name="vfcla" value="--kill-me -l udp://10.1.50.51:4902 -s ' + channels + ' -dog -nc -gd -top -x ' + x + ' -y ' + y + '"><br><b>You must enable Java in your browser settings</b><br></applet>')
	      $('body').append('<applet height="1" width="1" archive="VFAgent.jar" codebase="http://10.1.50.51/" code="com.videofurnace.player.VFAgent"><param value="/vfagent.properties" name="propertyURL"><param value="VFAgent.cab" name="CABBASE"><param value="/loading.shtml&unsupported=1" name="macclassic"><param value="vfmonitor" name="application"><param name="vfcla" value="--kill-me -l udp://10.1.50.51:4902 -s ' + channels + ' -dog -nc -gd -top -x ' + x + ' -y ' + y + '"><br><b>You must enable Java in your browser settings</b><br></applet>')
	    });
	  </script>
	<% end %>
<% end %>