<div id="left">
  <%= form_tag @recording.id ? recording_path(@recording.id) : recordings_path, :id => 'recording_form' do %>
    <%= hidden_field_tag :channel_id, @channel.id %>
    <div class="controlblock">
      <h3>Clip Details</h3>
      <div class="fields">
        <div class="field">
          <label for="title">Title</label>
          <%= text_field_tag 'title', @recording.title %>
        </div>
        <div class="field">
          <label for="description">Description</label>
          <%= text_field_tag 'description', @recording.description %>
        </div>
        <% if @recording.recording? %>
          <button type="button" id="save_clip"><span>Save Clip</span></button><%= spinner('save', :color => 'gray') %>
        <% end %>
      </div>
      <div class="clear"></div>
    </div>
  <% end %>
  
  
  <div class="controlblock">
    <h3>Camera Controls</h3>
    <div id="ptz">
      <img src="/images/pan.png" />
    </div>
    <div class="clear"></div>
  </div>
</div>

<div id="videocol">
  <div id="preview_window">
    <h2 id="preview_name"><span><%= @channel.title %></span></h2>
    <div id="preview_video">
      <%= link_to('Open Video', params.merge({:force => true})) unless @recording.recorded? %>
    </div>
  </div>
  <div id="preview_controls">
    <ul>
      <% if params[:action] == 'new' %>
        <li id="record"><%= link_to('#', :class => 'button withimage') do %><span>Record</span><% end %></li>
        <li id="snapshot"><%= link_to(snapshots_path(:channel_id => @channel.id), :method => :post, :remote => true, :class => "button withimage", :id => 'snapshot_link') do %><span>Take Snapshot</span><% end %><%= spinner('snapshot', :color => 'gray') %></li>
      <% elsif @recording.recording? %>
        <li id="stop"><%= link_to(stop_recording_path(@recording.id), :class => 'button withimage', :method => :post) do %><span>Stop</span><% end %></li>
        <li id="snapshot"><%= link_to(snapshots_path(:channel_id => @channel.id), :method => :post, :remote => true, :class => "button withimage", :id => 'snapshot_link') do %><span>Take Snapshot</span><% end %><%= spinner('snapshot', :color => 'gray') %></li>
      <% else %>
        <% unless @review_url %>
          <li id="publish"><%= link_to(review_recording_path(@recording.id), :class => 'button') do %><span>Review</span><% end %></li>
        <% end %>
        <li id="publish"><%= link_to(publish_recording_path(@recording.id), :class => 'button', :method => :post) do %><span>Publish</span><% end %></li>
      <% end %>
    </ul>
  </div>
</div>


<div id="right">
  <% if @recording.recording? %>
    <div class="controlblock">
      <h3>Hot Marks</h3>
      <div id="customhot">
        <div class="fields">
          <%= form_tag hotmarks_path, :remote => true do %>
            <%= hidden_field_tag 'type', 'hotmark' %>
            <%= hidden_field_tag 'link', @recording.links[:self] %>
            <div class="field">
              <label for="customhot">Custom Meta Data</label>
              <%= text_field_tag 'hotmark' %>
            </div>
            <button type="submit"><span>Add</span></button>
          <% end %>
          <div id="bookmark">
            <%= link_to(hotmarks_path(:type => 'bookmark', :link => @recording.links[:self]), :remote => true, :method => :post, :class => "button withimage") do %>
              <span>Bookmark</span>
            <% end %>  
          </div>
        </div>
      </div>
      <% ['Open', 'Close', 'Proc 1', 'Proc 2', 'Proc A', 'Proc B'].each do |hotmark| %>
        <%= link_to(hotmarks_path(:type => 'hotmark', :hotmark => hotmark, :link => @recording.links[:self]), :remote => true, :method => :post, :class => "squarebutton") do %>
          <span><%= hotmark %></span>
        <% end %>
      <% end %>
      <div class="clear"></div>
    </div>
  <% end %>
</div>