<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Lighspeed [SS]: OR Video Portal</title>
		<%= stylesheet_link_tag 'jquery-ui', 'jquery.checkbox', 'jquery.safari-checkbox', 'main', 'message_block' %>
    <%= stylesheet_link_tag 'ipad' if session[:ipad] %>
    <%= javascript_include_tag 'jquery.min', 'jquery-ui.min', 'jquery.checkbox.min', 'rails', 'message_block', 'application' %>
    <%= csrf_meta_tag %>
  </head>
  
  <body id="<%= params[:controller] == 'recordings' ? 'detail' : '' %>">
    <div id="dialog" title="Would you like to connect?">
      <p>Would you like to connect to source OS-10?</p>
    </div>
    
    <div class="headwrap">
    <div class="wrap">
      <div id="head">
        <h1 id="logo"></h1>
        <div id="headbuttons">
          <ul>
            <% if params[:controller] == 'recordings' %>
              <li><a href="/dashboard" class="button">Dashboard</a></li>
            <% end %>
            <li><a href="/" class="button">Logout</a></li>
            <li><a href="" class="button disabled">Help</a></li>
          </ul>
        </div>
      </div>
    </div>
    </div>
        
    <div class="wrap">  
      <div id="body">
        <%= message_block :on => '' %>
        <%= yield %>
      </div>
      <div class="clear"></div>
    </div>
    <div id="footer">
      <div class="wrap">
        <!-- <ul id="screenshots">
          <li id="save"></li>
          <li><a href=""><img src="/images/preview.jpg" /></a></li>
          <li><a href=""><img src="/images/preview.jpg" /></a></li>
          <li><a href=""><img src="/images/preview.jpg" /></a></li>
        </ul> -->
      </div>
    </div>
  </body>
</html>